@import '@pnotify/core/dist/BrightTheme.css';
@import '@pnotify/core/dist/Material.css';
@import 'material-design-icons/iconfont/material-icons.css';
@import '@pnotify/core/dist/PNotify.css';
@import '@pnotify/mobile/dist/PNotifyMobile.css';

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
  /*
   * CSS image reference example.
   */
  /* background-image: url('./images/bg-pattern.png'); */
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -15px;
  margin-right: -15px; */
}
.photo-card {
  width: 15%;
  padding: 0 15px;
  margin-bottom: 20px;
  /* margin-top: 10px; */
}
.photo-image {
  max-width: 100%;
}
.stats {
  border-radius: 4px;
}
/* .stats-item {
  font-size: 12px;
} */
.btn {
  display: inline-flex;
  content: '';
  padding: 5px 15px;
  background-color: #6438f3;
  color: #ffffff;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}
.input {
  display: inline-flex;
  content: '';
  padding: 3px 15px;
  font-size: 14px;
}
.stats-item {
  text-align: start;
  display: flex;
  align-items: center;
}
.info {
  margin-left: 10px;
}
.search-form{
  padding-top: 15px;
}
.cross-around {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100wh;
  opacity: 0;
  pointer-events: none;
  transition: opacity, cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
}
.hidden {
  visibility: hidden;

}
.backdrop-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #a29eae;
}
.modal-window {
  transition: scale(0.95);
  transform: transition, cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}
.backdrop.is-open .modal-window {
  transform: scale(1);
}
.img-origin {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}